.card-contenitor{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  :hover{
    background-color: grey;
    .user-card-cred{
      background-color: blue;
      color:white;
    }
  }
}

.card-holder{
  height: 97%;
  width: 97%;
  border: 1px solid black;
}
.user-image-card{
  height: 90%;
  display: flex;
  justify-content: center;
}
.user-card-cred{
  height: 10%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  color: black;

}
